@import "tailwindcss";

@theme {
  --color-bgBase: #f5f5f5;
  --color-surface: #ffffff;
  --color-primary: #1a1a1a;
  --color-textMain: #333333;
  --color-textMuted: #888888;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-bgBase);
  color: var(--color-textMain);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}